<h1>Categories</h1>

<%= link_to 'New Category', new_category_path, class: "btn btn-primary" %>

<br/>
<br/>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><i class="fas fa-plus"></i></td>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td><%= category.published %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

