<h1>Categories</h1>
<hr/>
<%= link_to 'New Category', new_category_path, class: "btn btn-primary" %>

<br/>
<br/>

<div class="container">
  <% @categories.each do |category| %>
    <div class="d-flex flex-row p-2">
      <div>
        
        <%= link_to category_search_path(category.name.downcase),
            remote: true, 
            class: "category-expand" do%>
            <i class="fas fa-plus"></i> 
            <% end %>
      </div>

      <div><%= category.name %></div>
      <div><%= category.description %></div>
      <div><%= link_to 'Show', category %></div>
      <div><%= link_to 'Edit', edit_category_path(category) %></div>
      <div><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
    <div  id='<%="category_#{category.id}"%>' class="post-header"></div>
  <% end %>
</div>


