  <div class="mb-2 col-md-4 " >
    <div class="card " >
      <div class="card-body">
        <h5 class="card-title">
        <!--<%= link_to post.title, controller: :public, action: :read, id: post.slug %> -->
          <%= link_to post.title, post_read_path(id: post.slug)%>
        </h5>
        <h6 class="card-title">
          Permalink: <%= post_read_url(id: post.slug) %>
        </h5>
        <span class="card-text">
          <%= post.description %>
        </span>
        <h6>
          <%= post.category.name %>
        </h6>
        <div>
          <% post.tags.each do |tag| %>
          <span class="badge">
            <%= link_to tag.name, tag_search_path(tag.name) %>
          </span>
          <%end%>
        </div>
      </div>
    </div>
  </div>